input.input--submit {
	width: 200px;
}

.info {
	margin-top: 20px;
	padding: 5px;
}

.success {
	border: 1px solid green;
	background-color: #CFDBC5;
}

.fail {
	border: 1px solid red;
	background-color: #F08080;
}

@media (max-width: 480px) {
	input.input--submit {
		width: 100%
	}
}

/* markdown links - set offset to allow for fixed header menu */
.md-anchor{
	display: block;
	position: relative;
	top: -100px; /* adjust to size of heading */
	visibility: hidden;
}