input.input--submit {
	width: 200px;
}

.info {
	margin-top: 20px;
	padding: 5px;
}

.success {
	border: 1px solid green;
	background-color: #CFDBC5;
}

.fail {
	border: 1px solid red;
	background-color: #F08080;
}

.navbar-inverse .brand {
    display: none;
}

@media (max-width: 970px) {
	input.input--submit {
		width: 100%
	}
       .navbar-inverse .brand {
           display: block;
       }
}
